<launch>
  <!-- Load the  URDF model into the parameter server -->
  <param name="robot_description" textfile="$(find tb_description)/urdf/tb_description.urdf" />
  <!-- Start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <!-- Spawn a thrustbalance in Gazebo, taking the description from the
  parameter server -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
  args="-param robot_description -urdf -model thrustbalance" />


  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find tb_description)/urdf/tb_description.urdf'"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> 

  <node name="rviz" pkg="rviz" type="rviz" 
  args="-d $(find tb_description)/rviz/tb_display_rviz.rviz" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <param name="use_gui" value="True"/>
  
 
</launch>